name: cough_detector
description: "Cough detector (YAMNet + svm_cal)."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  tflite_flutter: ^0.11.0
  record: ^6.0.0
  path_provider: ^2.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/models/yamnet.tflite
    - assets/models/svm_cal_params.bin
    - assets/models/svm_cal_params.bin
